<h1>Add-it-up</h1>

<div class="container">
    <div *ngIf="game">
        <div *ngIf="game.exerciseScore.lastResultFail">
            <h2>Bad luck. You lost!</h2>
        </div>

        <div id="game" class="row" *ngIf="game.exerciseScore && !game.exerciseScore.lastResultFail ">
            <h2 *ngIf="game.exerciseScore.scoreForRound || game.exerciseScore.rank"> Well done!</h2>
            <div>Score this round:  <label id="total">{{game.exerciseScore.scoreForRound}}</label></div>
            <div>Rank:  <label id="total">{{rankName() }}</label></div>

            <div class="row"> <label>Time Remaining: {{timeRemaining}} seconds</label></div>

            <label> What is {{game.question.number1}} + {{game.question.number2}}?</label>

            <input [(ngModel)]="answer" />

            <button (click)="submitAnswer()">Submit</button>
        </div>

    </div>

    <button  *ngIf="!game || !game.exerciseScore || game.exerciseScore.lastResultFail " id="newGame" (click)="newGame()">Click here to start a new game</button>

</div>



